<!Doctype html>
	<html>
		<head>
			<title> My first Blog</title>
		</head>
		<body>
			<center>
				<h1 style = "font-family : Cursive,font-color :  #D0D0D0"> Aniruddha's Blog.</h1>
			</center>
			<img src = "https://blog.hubspot.com/hs-fs/hub/53/file-23115630-jpg/blog/images/blogging_image.jpg?t=1502040395748&width=394&name=blogging_image.jpg" alt = "blog photo">
			<a href = "https://www.facebook.com/aniruddha.bhattacharjee.18" style = "text-decoration :none">My Facebook Page</a>
		</body>
	</html>