<!Doctype html>
	<html>
		<head>
			<title> My first Blog</title>
		</head>
		<body>
			<center>
				<h1> Aniruddha's Blog.</h1>
				
			</center>
			<p> </p>
			<h2>About Me</h2>
			<p> This is me,Aniruddha Bhattacharjee,I am from India and currently pursuing my bachelor's degree in Computer Science and Engineering.I like cubing and know how to solve "The Rubik's mini" ,"The Rubik's Cube" and exploring "The Rubik's Revenge" and and I watch a lot of TV series.</p>
			<p>On the technical side,I am interested in algorithms,Machine Learning and AI systems and hope to do further research in these fields. Here's my <a href = "https://www.facebook.com/aniruddha.bhattacharjee.18" style = "text-decoration : none"> Facebook Page.</a></p>
			{% for post in posts %}
				<div>
					<p> published : {{post.published_date}} </p>
					<h1> <a href = ''>{{post.title}} </a> </h1>
					<p> {{post.text|linebreaksbr }} </p>
				</div>
			{% endfor %}
		
		</body>
	</html>
